* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  

  .header {
    background-color: #007bff;
    color: #fff;
    padding: 20px 0;
  }
  
  .header-title {
    text-align: center;
  }

  .section {
    padding: 50px 0;
  }
  
  .section-title {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .section-text {
    text-align: center;
  }
  
  .team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .team-member {
    margin: 20px;
    text-align: center;
  }
  .team-member-name {
    font-weight: bold;
  }
  
  .team-member-role {
    font-style: italic;
  }
  
  .values-list {
    list-style: none;
  }
  
  .value {
    text-align: center;
    margin-bottom: 10px;
    }
   .footer {
    background-color: #007bff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  .team-member-img:hover{
    transform: scale(1.3);
  }
  .team-member-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }